body {
    margin: 0 10%;
}

.siteHeadline {
    margin-bottom: 30px;
}

.textResultWrap {
    padding-bottom: 20px;
}

.imageList {
    display: inline-block;
}

.imgResultWrap {
    text-align: center;
    padding-bottom: 20px;
}

.save-load-section {
    margin-top: 20px;
}

.save-confirmation {
    padding: 10px;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.save-confirmation.ng-hide {
    opacity: 0;
}

.load-item {
    cursor: pointer;
}